[submodule ".config/tmux/plugins/catppuccin"]
	path = .config/tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux
[submodule ".config/zsh/powerlevel10k"]
	path = .config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
